@media only screen and (min-width:695px) and (max-width:740px){
    .opspan{
        font-size: 30px
    } 
    .con9 > .con9-1 > h2 {font-size: 25px}
}
@media only screen and (min-width:500px) and (max-width:617px){
    .opspan{
        font-size: 25px
    } 
    .con9 > .con9-1 > h2 {font-size: 20px}
}



@media only screen and (min-width:741px) and (max-width:800px){
    .footerhide{
        display: none
    }
    .lastfoot{
        position: relative;top: 35px
    }
    .footer{
        position: relative;top: 60px;height: 495px
        ;
    }
    .pfoot{
        position: relative;
        left: 30px;
        text-align: start;
    }
    
    .secondlast{
        margin-left:25px ;padding: 7px
    }
    .foot3{
        position: relative;
    left: 40px;
}
    .con5{
        width: 96%
    }
    .con9{
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly
    }
    .con9-1{
        width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
}


@media only screen and (min-width:675px) and (max-width:1200px){
  
      #navbar{
        height: 80px;justify-content: center;justify-content: space-between;font-size: 20px
    }
    .nav1{
        width: 100px;height: 58px
    }
    .nav2{
        font-size: 20px;position: absolute;left: -175px
    }
    .nav3{
        width: 85px;font-size: 20px;margin-left: 60px;
    }
   
    .nav5{
display: none
    }
    .nav6{
        width: 135px;height: 50px;font-size: 16px
    }
    .logo{
        width: 110px;height: 60px
    }
    .imgtwo{
        width: 250px;height: 250px
    }
    .imgthree{
        width: 250px;height: 250px;
    }
    .con2-all{
        row-gap: 10px;width: 100%
    }
    .con2-1{
        width: 200px
    }
    .con2-2{
        width: 200px
    }
    .con2-3{
        width: 200px
    }
    .img1{width: 170px

    }
    .img2{width: 170px;

    }
    .img3{width: 170px

    }
    
    .con4{
        width: 100%;
        height: 300px;
    }
    .con4-0{
    width: 50%;position: relative;left: 20px;
    }
    .images{
        width: 50%;position: relative;top: 20px
    }
    .conimg1{
        width: 100%;position: relative;left: -10px
    }
    .imgone{
        width: 100%
    }
    .imgtwo{
        width: 100%
    }
    .imgthree{
        width:100%
    }
    .con5{
        width: 100%;
    }
    .conimg2{
        width: 100%;position: relative;left: 10px;
    }
    .con5-0{
        width: 45%;
    }
    .con5-1{
    width: 50%;position: relative;left: 7px;
    }
    .con6{
        width: 100%;background: transparent
    }
    .con6-1{
        width: 45%;background: transparent
    }
    .conimg3{
        width: 99%;;background: transparent
    }
    #images{
        width: 50%;position: relative;left: 7px;top: 17px;background: transparent
    }
    .con7{
        margin-top: 70px
    }
    .con7-3{
        width: 100%
    }
    .con7-4{
        width: 30%;
    }
    .isl{
        font-size: 15px
    }
    .opspan{
        font-size: 30px;
    }
    .con8{
        width: 100%;position: relative;top: 0px;background: none
    }
    .con8-0{width: 60%;

    }
    .con-08{
width: 45%
    }
   .con8all{
    height: 600px;
    width: 100%;
    background: #ffffff0f;
    position: relative;
    top: 135px;
   }
   .viltext{
       position: relative;top: 280px
   }
   .village{
    width: 100%;
    position: relative;
    left: 15px;
}
   
   .allimg{
       width: 200px;height: 250px
   }
   .con10{justify-content: center;justify-content: space-around

   }
  
   .con9-1{
       width: 30%
   }

   #rece-1{
       display: none
   }
   .footpara{
       width: 250px
   }
   .pfoot{
       width: 250px
   }
   em{
       display: none
   }
}