@import url(https://db.onlinewebfonts.com/c/0a086e32e41c5e5960b26626757f07f3?family=Apercu+Regular);
@font-face {
    font-family: myfont;
    src: url(.//public/futurak.ttf);
}

@font-face {
    font-family: myfont2;
    src: url(./public/futura_black_bt.ttf)
}

* {
    font-weight: 100;
    margin: 0;
    padding: 0;
}

:root {
    --mypadding: 80px
}

.font {
    font-family: myfont;
    text-align: center;
    font-weight: 400;
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    background: black;
    color: #ffffff;
    font-family: "apercu regular";
    width: 100%;
    /* height: auto; */
}

.container-fluid {
    padding: 0
}

.navbar {
    padding: 6px 25px;
    background: #000!important;
    align-items: baseline
}

.nav-link,
.navbar-brand {
    font-size: 16px;
    color: #fff!important;
    font-weight: 400
}

.franchise {
    border-radius: 30px;
    border: 2px solid #fff;
    padding: 13px 8px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.order-online {
    width: fit-content;
    display: flex;
    padding: 13px 10px;
    border-radius: 30px;
    background: rgb(255, 0, 0);
    color: #fff
}

.navbar-nav {
    gap: 22px;
    align-items: center;
}

.logo {
    width: 160px;
    height: 75px;
}

.img {
    width: 100%;
}

.menu {
    width: 100%;
    height: 500px;
    text-align: center;
}

.icon {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid transparent;
    background: #fff;
    color: red;
    margin-left: 10px
}

.owl-carousel .owl-item {
    transition: transform 6s ease-in-out
}

.villagetext {
    font-size: 35px;
}

#first {
    height: 550px;
}

.content-1 {
    width: 100%;
    height: fit-content;
    padding: 70px 0px 40px 0px;
}

.conlogo {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 70px;
}

.img3 {
    padding: 20px;
}

.img2 {
    padding: 20px;
}

.img1 {
    padding: 20px;
}

.con2-all {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 70%;
    position: relative;
}

.con1 {
    text-align: center;
    font-size: 45px;
    font-weight: 100;
    width: 100%;
    height: fit-content;
}

.restaurent-txt {
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    width: 100%;
    letter-spacing: 2px
}

.for-order {
    text-align: center;
    width: 100%;
}

h3 {
    font-weight: 100;
    font-size: 17px;
    color: gray;
}

.img1 {
    background: #ffffff;
    height: 110px;
    padding: 20px
}

.img2 {
    background: #ffffff;
    height: 110px;
    padding: 20px
}

.img3 {
    background: #ffffff;
    height: 110px;
    padding: 20px
}

.link1,
.link2,
.link3 {
    width: fit-content;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #ffffff;
    margin-top: 20px;
    font-weight: 100
}

a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 19px
}

.franchise-sec {
    padding: 60px 0px;
    background: #0f0f0f
}

.sl-text {
    font-size: 55px
}

.s-text {
    position: absolute;
    right: 20px;
    z-index: 1;
}

.isl-txt {
    letter-spacing: 8px;
    color: red;
    font-size: 17px
}

.sl-small {
    font-size: 30px
}

.restaurent-detail {
    display: flex;
    justify-content: space-between;
    padding: 30px var(--mypadding);
    margin-top: 20px;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}

.res-branch-1 h2 {
    font-size: 33px;
    font-weight: 100;
    margin-bottom: 20px
}

.res-branch-1 h4 {
    color: gray;
    font-size: 18px;
    font-weight: 300;
}

.dir-btn {
    display: flex;
    width: fit-content;
    border: 2px solid #4e4c4c;
    padding: 11px 28px;
    border-radius: 30px;
    margin-top: 40px
}

.restaurent-detail-2 {
    flex-direction: row-reverse
}

.restaurent-detail img {
    width: 530px
}

.res-branch-2 {
    padding-left: 20px
}

.p-text {
    position: absolute;
    left: 30px
}

.exp-franchise {
    padding: 60px 0px
}

.exp-franchise-details {
    padding: 0 var(--mypadding);
    text-align: center;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap
}

.all-franchise {
    margin-top: 50px;
    width: 340px;
}

.img-div {
    width: 100%
}

.img-div img {
    width: 100%;
}

.exp-small {
    font-size: 13px;
    margin-top: 30px
}

.all-franchise h2 {
    font-size: 25px;
    margin: 15px 0px
}

.exp-sl {
    font-size: 25px;
}

.all-franchise h4 {
    font-size: 14px;
    color: darkgray;
    line-height: 22px;
    font-weight: 500;
}

.exp-btn {
    margin: 40px auto
}

.exp-icons {
    transform: rotate(-50deg);
}

.blur-img {
    position: absolute;
    right: 20px;
    z-index: -2;
}

.village-branch {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 50px
}

.village-franchise {
    background: #0f0f0f;
    padding: 40px 0px
}

.vill-img {
    width: 100%;
}

.village-franchise h2 {
    margin-bottom: 15px
}

.village-franchise h4 {
    font-size: 16px;
    color: darkgray;
    line-height: 22px;
    font-weight: 500;
}

.village-btn {
    background: rgb(12, 161, 44)
}

.vill-icon {
    color: rgb(12, 161, 44)
}

.opening-soon {
    padding: 50px var(--mypadding)
}

.all-open-soon {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center
}

.open-soon-bran {
    background: #fff;
    border-radius: 10px;
    color: #000;
    padding: 30px 0px;
    text-align: center;
    margin-top: 50px;
    width: 350px;
}

.open-soon-bran img {
    margin-bottom: 20px
}

.open-soon-bran h6 {
    color: rgba(235, 25, 11, 0.671);
    font-size: 11px;
    letter-spacing: 6px;
    font-weight: 700
}

.open-soon-bran strong {
    font-size: 27px;
    font-weight: 700
}

.open-soon-bran h4,
.open-soon-bran h5 {
    font-family: myfont2;
    line-height: 28px;
    font-size: 21px
}

.custom-carousel {
    display: flex;
    gap: 20px;
    padding: 20px 10px;
    flex-wrap: wrap;
    justify-content: center
}

.custom-carousel img {
    width: 225px!important
}

footer {
    padding: 60px var(--mypadding) 10px;
    background: #0f0f0f;
    margin-top: 50px;
    color: darkgray
}

.foot-s-img {
    position: absolute;
    left: 40px;
    height: 440px;
}

.foot-logo {
    width: 150px;
}

.footer {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap
}

footer p {
    margin: 20px 0px 10px 0px
}

footer a,
.footer h4 {
    font-size: 15px;
    font-weight: 500;
    color: darkgray
}

.privacy {
    padding-left: 10px
}

.footer a {
    display: block;
    line-height: 35px
}

.footer h5 {
    margin-bottom: 25px;
    color: #fff;
    font-weight: 700;
    font-size: 18px
}

.footer a {
    display: block
}

.foot-1 a {
    display: inline
}

.foot-icons {
    display: flex;
    gap: 20px
}

.foot-icons div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(255, 36, 36);
    width: 35px;
    height: 35px;
    color: #fff
}

.app-stores a {
    margin-top: 20px
}

.last-foot {
    display: flex;
    justify-content: space-between;
    color: darkgray;
    margin-top: 100px;
    border-top: 2px solid gray;
    padding-top: 15px
}

.last-foot h4 {
    font-size: 16px
}